body{
    font-family: 'Poppins', sans-serif;
    color: #1E1E1E;
    background-color: #ededed

}

h1{
    font-size: 2rem;
    
}
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
.time, .date{
    font-weight: bold;
}

.button{
    background-color: #16C0D8;
    color: #fff;
}

.tab:hover{
    background-color: #16C0D8;
}